
.side-nav-bg {
  max-width: 100% !important;
  height: 100%;
  position: fixed;
  margin-left: 0;
  left: 0;
  z-index: 2;
  opacity: 0.5;

}

.side-nav-items{
  max-width: 300px;
  height: 100%;
  position: fixed;
  margin-left: 0;
  left: 0;
  z-index: 3;

}
