.bg-salmon {
  background-color: salmon !important;
}

.bg-sea-green {
  background-color: lightseagreen !important;
}

.bg-sandy-brown {
  background-color: sandybrown !important;
}

.bg-blue {
  background-color: #1DA1F2 !important;
}

.bg-azure {
  background-color: azure !important;
}

.color-salmon {
  color: salmon !important;
}

.color-sea-green {
  color: lightseagreen !important;
}

.color-sandy-brown {
  color: sandybrown !important;
}

.color-blue {
  color: #1DA1F2 !important;
}

.color-medium-aqua-marine {
  color: mediumaquamarine !important;
}

.color-white {
  color: white !important;
}

.mat-card {
  box-shadow: 0 2px 1px -1px #1DA1F2, 0 1px 1px 0 #1DA1F2, 0 1px 3px 0 #1DA1F2 !important;
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: #1DA1F2 !important;
}

.mat-raised-button {
  box-shadow: 0 3px 1px -2px #1DA1F2, 0 2px 2px 0 #1DA1F2, 0 1px 5px 0 #1DA1F2 !important;
}

button:focus {
  outline: 0 !important;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #1DA1F2 !important;
}

.mat-card-header {
  margin-left: 15px;
}

mat-card .row {
  font-size: 16px;
  color: #828282 !important;
}

mat-card .row a {
  color: #828282 !important;
  cursor: pointer;
  text-decoration: underline !important;
  -webkit-transition: all 0.3s;
}

mat-card .row a:hover {
  color: #1DA1F2 !important;
  -webkit-transition: all 0.3s;
}

mat-card .col-md-2 {
  font-weight: 600;
}

mat-card .col-md-2,
mat-card .col-md-9 {
  padding-bottom: 5px;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #2ea1f236 !important;
  color: #828282 !important;
  -webkit-transition: all 0.3s;
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: white !important;
  color: #828282 !important;
  -webkit-transition: all 0.3s;
}

.table-striped tbody tr:hover {
  background-color: #2ea1f26b !important;
  color: white !important;
  -webkit-transition: all 0.3s;
}


.table-striped tbody tr a {
  color: inherit !important;
  text-decoration: underline !important;
}

.table-striped tbody tr a:hover {
  color: #1DA1F2 !important;
  -webkit-transition: all 0.3s;
}


