.bg-salmon {
  background-color: salmon !important;
}

.bg-sea-green {
  background-color: lightseagreen !important;
}

.bg-sandy-brown {
  background-color: sandybrown !important;
}

.bg-dodger-blue {
  background-color: dodgerblue !important;
}

.bg-azure {
  background-color: azure !important;
}

.color-salmon {
  color: salmon !important;
}

.color-sea-green {
  color: lightseagreen !important;
}

.color-sandy-brown {
  color: sandybrown !important;
}

.color-dodger-blue {
  background-color: dodgerblue !important;
}

.color-medium-aqua-marine {
  color: mediumaquamarine !important;
}

.mat-card {
  box-shadow: 0 2px 1px -1px dodgerblue, 0 1px 1px 0 dodgerblue, 0 1px 3px 0 dodgerblue !important;
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: dodgerblue !important;
}

.mat-raised-button {
  box-shadow: 0 3px 1px -2px dodgerblue, 0 2px 2px 0 dodgerblue, 0 1px 5px 0 dodgerblue !important;
}

button:focus {
  outline: 0 !important;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: dodgerblue !important;
}
