.dropdown-menu {
  margin: .5rem 0 0;
  right: 0;
  left: auto;
  min-width: auto;
}

.dropdown-toggle::after {
  display: none;
}

.navbar {
  height: 100%;
}

.fa {
  color: white;
}

.navbar-toggler {
  border-color: #1DA1F2;
}

button:focus {
  outline: none;
}

.navbar-collapse {
  padding-left: 15px;
}

#user-icon-header{
  width: 30px;
  height: 30px;
  display: block;
  border-radius: 50%;
  vertical-align: middle;
  line-height: 30px;
}

.sidebar-toggler.animate{
  cursor: pointer;
  font-size: 20px;
  color: white;
  transition: 500ms;
}

.sidebar-toggler.animate:hover{
  font-size: 20.5px;
  color: grey;
}
button{
  background-color: inherit;
  border: none;
}

.sidebar-toggler.disabled{
  font-size: 20px;
  color: #a8a8a8;
}

.sidebar-toggler{
  padding-top: 4px;
}
