<nav class="navbar navbar-expand-md bg-dodger-blue navbar-dark">
  <!-- Brand -->
  <a><i class="fa fa-bars px-2 sidebar-toggler"></i></a>
  <a class="navbar-brand" href="#">Mydesq HR</a>

  <!-- Toggler/collapsibe Button -->
  <button *ngIf="isSecuredLayout" class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbar-items">
    <span class="fa fa-bars"></span>
  </button>

  <!-- Navbar links -->
  <div *ngIf="isSecuredLayout" class="collapse navbar-collapse bg-dodger-blue" id="navbar-items">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/home/user">
          <span id="user-icon-header" class="bg-sea-green text-center">VG</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
