<div class="container py-3">
    <mat-card>
        <mat-card-header class="color-blue">User Info</mat-card-header>
        <mat-card-content>
            <div class="container">
                <div class="row" *ngIf="userInfo">
                    <div class="col-md-2 ">
                        Employee ID
                    </div>
                    :
                    <div class="col-md-9">
                        {{userInfo.id}}
                    </div>
                    <div class="col-md-2">
                        Email
                    </div>
                    :
                    <div class="col-md-9">
                        {{userInfo.email}}
                    </div>
                    <div class="col-md-2">
                        First Name
                    </div>
                    :
                    <div class="col-md-9">
                        {{userInfo.first_name}}
                    </div>
                    <div class="col-md-2">
                        Last Name
                    </div>
                    :
                    <div class="col-md-9">
                        {{userInfo.last_name}}
                    </div>
                    <div class="col-md-2">
                        Role
                    </div>
                    :
                    <div class="col-md-9">
                        {{userInfo.role}}
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
