<div class="container py-3" appLoader [showLoading]="showLoading">
    <mat-card>
        <mat-card-header class="color-blue">User Info</mat-card-header>
        <mat-card-content>
            <div class="container">
                <div class="row" *ngIf="userInfo">
                    <div class="col-md-2 ">
                        Employee ID
                    </div>
                    :
                    <div class="col-md-9">
                        {{userInfo.employee_id}}
                    </div>
                    <div class="col-md-2">
                        Email
                    </div>
                    :
                    <div class="col-md-9">
                        {{userInfo.email}}
                    </div>
                    <div class="col-md-2">
                        First Name
                    </div>
                    :
                    <div class="col-md-9">
                        {{userInfo.first_name}}
                    </div>
                    <div class="col-md-2">
                        Last Name
                    </div>
                    :
                    <div class="col-md-9">
                        {{userInfo.last_name}}
                    </div>
                    <div class="col-md-2">
                        Designation
                    </div>
                    :
                    <div class="col-md-9">
                        {{userInfo.designation}}
                    </div>
                    <div class="col-md-2">
                        Role
                    </div>
                    :
                    <div class="col-md-9">
                        {{userInfo.role}}
                    </div>
                    <div class="col-md-2">
                        Reporting Manager
                    </div>
                    :
                    <div class="col-md-9">
                        <a routerLink="/user/info/{{userInfo.reporting_manager.employee_id}}">
                        {{userInfo.reporting_manager.first_name}} {{userInfo.reporting_manager.last_name}}
                    </a>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
